<?xml version="1.0"?>
<model>
  <name>box_1</name> <!-- Give it a unique name -->
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Chidalu</name>
    <email>albertchidalu@gmail.com</email>
  </author>
  <description>Box model with ArUco marker</description>
</model>
